<div class="left-panel">
    <div>
        <div class="option" id="home" title="Home">
            <img src="https://img.icons8.com/material-sharp/24/null/home.png" alt="Home"/>
            <p>Home</p>
        </div>
        <div class="option" title="Shorts">
            <img src="../../assets/img/shorts.png" alt="Shorts">
            <p>Shorts</p>
        </div>
        <div class="option" title="Subscriptions">
            <img src="https://img.icons8.com/external-regular-kawalan-studio/24/null/external-subscription-social-media-regular-kawalan-studio.png" alt="Subscriptions"/>
            <p>Subscriptions</p>
        </div>
    </div>
    <div>
        <div class="option" title="Library">
            <img src="../../assets/img/library.png" alt="Library">
            <p>Library</p>
        </div>
        <div class="option" title="History">
            <img src="https://img.icons8.com/fluency-systems-regular/48/null/time-machine.png" alt="History"/>
            <p>History</p>
        </div>
    </div>
    <div>
        <p>Sign in to like videos, comment, and subscribe.</p>
        <button type="submit" class="sign-in"><i class="fa fa-user-circle-o"></i><b>Sign in</b></button>
    </div>
    <div>
        <p>Explore</p>
        <div class="option" title="Trending">
            <img src="../../assets/img/trending.png" alt="Trending">
            <p>Trending</p>
        </div>
        <div class="option" title="Music">
            <img src="../../assets/img/music.png" alt="Music">
            <p>Music</p>
        </div>
        <div class="option" title="Live">
            <img src="https://img.icons8.com/material-outlined/24/null/youtube-live.png" alt="Live"/>
            <p>Live</p>
        </div>
        <div class="option" title="Gaming">
            <img src="../../assets/img/gaming.png" alt="Gaming">
            <p>Gaming</p>
        </div>
        <div class="option" title="News">
            <img src="../../assets/img/trending.png" alt="News">
            <p>News</p>
        </div>
        <div class="option" title="Sports">
            <img src="../../assets/img/music.png" alt="Sports">
            <p>Sports</p>
        </div>
        <div class="option" title="Learning">
            <img src="../../assets/img/live.png" alt="Learning">
            <p>Learning</p>
        </div>
        <div class="option" title="Fashion & Beauty">
            <img src="../../assets/img/gaming.png" alt="Fashion & Beauty">
            <p>Fashion & Beauty</p>
        </div>
    </div>
    <div>
        <div class="option" title="Settings">
            <img src="../../assets/img/library.png" alt="Settings">
            <p>Settings</p>
        </div>
        <div class="option" title="Report history">
            <img src="../../assets/img/history.png" alt="Report history">
            <p>Report history</p>
        </div>
        <div class="option" title="Help">
            <img src="../../assets/img/live.png" alt="Help">
            <p>Help</p>
        </div>
        <div class="option" title="Send feedback">
            <img src="../../assets/img/gaming.png" alt="Send feedback">
            <p>Send feedback</p>
        </div>
    </div>
</div>