<div [ngClass]="!message ? 'left-panel' : 'side-closed'">
  <div class="menu">
    <i class="material-icons" (click)="message = !message">menu</i>
    <img src="/../../assets/img/logo.png" title="Youtube Home" />
  </div>
  <div>
    <div class="option" id="home" title="Home">
      <img
        src="https://img.icons8.com/material-sharp/24/null/home.png"
        alt="Home"
      />
      <p>Home</p>
    </div>
    <div class="option shorts" title="Shorts" [routerLink]="['/feed/shorts']">
      <img src="../../assets/img/shorts.png" alt="Shorts" />
      <p>Shorts</p>
    </div>
    <div
      class="option"
      title="Subscriptions"
      [routerLink]="['/feed/subscriptions']"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/2989/2989849.png"
        alt="Subscriptions"
      />
      <p>Subscriptions</p>
    </div>
  </div>
  <div>
    <div class="option" title="Library" [routerLink]="['/feed/library']">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2989/2989835.png"
        alt="Library"
      />
      <p>Library</p>
    </div>
    <div class="option" title="History">
      <img
        src="https://img.icons8.com/fluency-systems-regular/48/null/time-machine.png"
        alt="History"
      />
      <p>History</p>
    </div>
  </div>
  <div *ngIf="loggedIn != 1" class="sign-in">
    <p>Sign in to like videos, comment, and subscribe.</p>
    <button type="submit" id="sign-in">
      <i class="fa fa-user-circle-o"></i><b>Sign in</b>
    </button>
  </div>
  <div *ngIf="loggedIn == 1" id="subscriptions">
    <p>Subscriptions</p>
    <div class="option">
      <img
        src="https://yt3.ggpht.com/ytc/AMLnZu9UWrGceKWaqm8AF89vuxrEt8MO3E59qOoQ785Lew=s88-c-k-c0x00ffffff-no-rj"
      />
      <p>freeCodeCamp.org</p>
    </div>
    <div class="option">
      <img
        src="https://yt3.ggpht.com/EPxCuC3JsL3a_Hatqymi0WQvNiUsy7f6KwGbL4Ypg3hI6HkgmtiiEsPlVmecMArnXFE6Cm4N=s88-c-k-c0x00ffffff-no-rj"
      />
      <p>VolumePlusTV</p>
    </div>
    <div class="option">
      <img
        src="https://yt3.ggpht.com/Ritdi2Pdf33yHjLPHiqE-KH5wiF-SNfxgwyKPVLNWn-_8J1GcykMOfp9x273peY8EQNC-_qEeQ=s88-c-k-c0x00ffffff-no-rj"
      />
      <p>NewJeans</p>
    </div>
  </div>
  <div>
    <p>Explore</p>
    <div class="option" title="Trending">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2595/2595122.png"
        alt="Trending"
      />
      <p>Trending</p>
    </div>
    <div class="option" title="Music">
      <img
        src="https://cdn-icons-png.flaticon.com/512/461/461238.png"
        alt="Music"
      />
      <p>Music</p>
    </div>
    <div class="option" title="Live">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2989/2989838.png"
        alt="Live"
      />
      <p>Live</p>
    </div>
    <div class="option" title="Gaming">
      <img
        src="https://cdn-icons-png.flaticon.com/512/7713/7713741.png"
        alt="Gaming"
      />
      <p>Gaming</p>
    </div>
    <div class="option" title="News">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2990/2990012.png"
        alt="News"
      />
      <p>News</p>
    </div>
    <div class="option" title="Sports">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1152/1152912.png"
        alt="Sports"
      />
      <p>Sports</p>
    </div>
    <div class="option" title="Learning">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1819/1819990.png"
        alt="Learning"
      />
      <p>Learning</p>
    </div>
    <div class="option" title="Fashion & Beauty">
      <img src="https://cdn-icons-png.flaticon.com/512/3159/3159614.png" />
      <p>Fashion & Beauty</p>
    </div>
  </div>
  <div>
    <div class="option" title="Settings">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3670/3670425.png"
        alt="Settings"
      />
      <p>Settings</p>
    </div>
    <div class="option" title="Report history">
      <img
        src="https://cdn-icons-png.flaticon.com/512/659/659792.png"
        alt="Report history"
      />
      <p>Report history</p>
    </div>
    <div class="option" title="Help">
      <img
        src="https://cdn-icons-png.flaticon.com/512/471/471664.png"
        alt="Help"
      />
      <p>Help</p>
    </div>
    <div
      class="option"
      title="https://cdn-icons-png.flaticon.com/512/4024/4024478.png"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/4024/4024478.png"
        alt="Send feedback"
      />
      <p>Send feedback</p>
    </div>
  </div>
</div>
