<app-nav-bar></app-nav-bar>
<section>
  <app-side-bar [subscriptions]="subscriptions"></app-side-bar>
  <div class="subscriptions-container">
    <div>
      <div class="header">
        <div><b>Today</b></div>
        <div class="display-options">
          <button (click)="grid = true">
            <i class="material-icons">grid_on</i>
          </button>
          <button (click)="grid = false">
            <i class="material-icons">list</i>
          </button>
        </div>
      </div>
      <div [ngClass]="grid ? 'grid-container subscription-grid' : 'list'">
        <div *ngFor="let data of filteredData.today">
          <app-video-card [itemData]="data"></app-video-card>
        </div>
      </div>
    </div>
    <div>
      <div class="header">
        <div><b>This Week</b></div>
      </div>
      <div [ngClass]="grid ? 'grid-container subscription-grid' : 'list'">
        <app-video-card
          *ngFor="let data of filteredData.thisWeek"
          [itemData]="data"
        ></app-video-card>
      </div>
    </div>
    <div>
      <div class="header">
        <div><b>This Month</b></div>
      </div>
      <div [ngClass]="grid ? 'grid-container subscription-grid' : 'list'">
        <div *ngFor="let data of filteredData.thisMonth">
          <app-video-card [itemData]="data"></app-video-card>
        </div>
      </div>
    </div>
    <div>
      <div class="header">
        <div><b>This Year</b></div>
      </div>
      <div [ngClass]="grid ? 'grid-container subscription-grid' : 'list'">
        <div *ngFor="let data of filteredData.thisYear">
          <app-video-card [itemData]="data"></app-video-card>
        </div>
      </div>
    </div>
    <div>
      <div class="header">
        <div><b>Your Subscriptions</b></div>
      </div>
      <div [ngClass]="grid ? 'grid-container subscription-grid' : 'list'">
        <div *ngFor="let data of filteredData.other">
          <app-video-card [itemData]="data"></app-video-card>
        </div>
      </div>
    </div>
  </div>
</section>
