<div class="sign-up">
  <div class="container">
    <div>
      <div>
        <img
          src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png"
        />
        <p>Create your Google Account</p>
      </div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="fullname" formGroupName="fullName">
          <div>
            <div>
              <input
                type="text"
                placeholder="First name"
                formControlName="firstName"
              />
            </div>
            <div>
              <input
                type="text"
                placeholder="Last name"
                formControlName="lastName"
              />
            </div>
          </div>
          <div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('fullName')?.touched &&
                profileForm.get('fullName.firstName')?.hasError('required') &&
                profileForm.get('fullName.lastName')?.hasError('required')
              "
            >
              Enter first and last names
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('fullName.firstName')?.hasError('required') &&
                profileForm.get('fullName.lastName')?.valid
              "
            >
              Enter first name
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('fullName.firstName')?.valid &&
                profileForm.get('fullName.lastName')?.hasError('required')
              "
            >
              Enter last name
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('fullName.firstName')?.hasError('noSpace') ||
                profileForm.get('fullName.lastName')?.hasError('noSpace')
              "
            >
              Name cannot contain a space
            </div>
          </div>
        </div>
        <div class="username">
          <div>
            <input
              type="text"
              placeholder="Username"
              formControlName="username"
            /><span>@gmail.com</span>
          </div>
          <div>
            <div
              class="small-desc"
              *ngIf="
                profileForm.get('username')?.untouched ||
                (profileForm.get('username')?.touched &&
                  profileForm.get('username')?.valid)
              "
            >
              You can use letters, numbers & periods
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('username')?.invalid &&
                profileForm.get('username')?.touched
              "
            >
              Sorry, your username must be between 6 and 30 characters long.
            </div>
          </div>
        </div>
        <div>
          <button class="option-btn">
            <b>Use my current email address instead</b>
          </button>
        </div>
        <div class="password" formGroupName="password">
          <div>
            <div>
              <input
                [type]="checkbox === true ? 'text' : 'password'"
                placeholder="Password"
                formControlName="pass"
              />
            </div>
            <div>
              <input
                [type]="checkbox === true ? 'text' : 'password'"
                placeholder="Confirm"
                formControlName="confirmPass"
              />
            </div>
          </div>
          <div>
            <div
              class="small-desc"
              *ngIf="
                profileForm.get('password')?.pristine &&
                profileForm.get('password')?.untouched
              "
            >
              Use 8 or more characters with a mix of letters, numbers & symbols
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('password')?.touched &&
                profileForm.get('password.pass')?.errors?.['required']
              "
            >
              Enter a password
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('password.pass')?.errors?.['minlength']
              "
            >
              Use 8 characters or more for your password
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('password.pass')?.errors?.['pattern'] && !profileForm.get('password.pass')?.errors?.['minlength']
              "
            >
              Please choose a stronger password. Try a mix of uppercase,
              lowercase letters and numbers.
            </div>
            <div
              class="invalid"
              *ngIf="
                profileForm.get('password.pass')?.valid &&
                profileForm.get('password.confirmPass')?.invalid
              "
            >
              Those passwords didn't match. Try again.
            </div>
          </div>
          <div>
            <input type="checkbox" (click)="checkbox = !checkbox" />
            <span>Show password</span>
          </div>
        </div>
        <div>
          <div>
            <button class="option-btn" [routerLink]="['/profile/signin']">
              <b>Sign in instead</b>
            </button>
          </div>
          <div>
            <button class="next" type="submit">Next</button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" />
    </div>
  </div>
</div>
