<div class="page-not-found">
  <div>
    <img
      src="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png"
      class="error-monkey"
    />
    <div class="description">
      <p>This page isn't available. Sorry about that.</p>
      <p>Try searching for something else.</p>
    </div>
    <div class="search-bar">
      <img src="../../../../assets/img/logo.png" />
      <input
        (keydown.enter)="getValue(box.value)"
        type="text"
        placeholder="Search"
        #box
      />
      <button
        type="submit"
        (click)="getValue(box.value)"
        id="search"
        title="Search"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
