<div class="items">
  <div class="thumbnail">
    <img
      [src]="imgSrc"
      (mouseover)="imgSrc = itemData.gif"
      (mouseout)="imgSrc = itemData.thumbnail"
    />
    <a class="duration-time"> {{ itemData.duration }} </a>
  </div>
  <div class="detail">
    <h3>{{ itemData.title }}</h3>
    <p>{{ itemData.channelName }}</p>
    <p>
      {{ itemData.views | numberFormat }} views •
      {{ itemData.date | datePipe }} ago
    </p>
  </div>
  <div>
    <img
      src="https://cdn-icons-png.flaticon.com/512/2311/2311524.png"
      id="menu-hover"
    />
  </div>
</div>
