<div class="main">
    <app-filter></app-filter>
    <div class="grid-container">
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid1.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="Netflix"></i>
                </div>
                <div class="info">
                    <p title="Wednesday Addams | Season 2 Announcement | Netflix"><b>Wednesday | Season 2 Announcement</b></p>
                    <p title="Netflix">Netflix</p>
                    <p>11M views , 2 days ago</p>
                </div>
            </div>
            <div class="invisible">
                <div class="option" title="Music">
                    <img src="../../assets/img/music.png" alt="Music">
                    <p>Music</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid2.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="Power Couple"></i>
                </div>
                <div class="info">
                    <p title="I solved 541 Leetcode problems."><b>I solved 541 Leetcode problems.</b></p>
                    <p title="Power Couple">Power Couple</p>
                    <p>1M views , 2 months ago</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid3.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="Gej Yu Ve?"></i>
                </div>
                <div class="info">
                    <p title="Нүцгэн нүдээр Астрономи..."><b>Нүцгэн нүдээр Астрономи...</b></p>
                    <p title="Gej Yu Ve?">Gej Yu Ve?</p>
                    <p>33K views , 1 year ago</p>
                </div>
            </div>
        </div>  
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid4.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="에익쿠"></i>
                </div>
                <div class="info">
                    <p title="MBTI in Senior Center"><b>MBTI in Senior Center</b></p>
                    <p title="에익쿠">에익쿠</p>
                    <p>20K views , 19 hours ago</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid5.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="The New Travel"></i>
                </div>
                <div class="info">
                    <p title="London, how many languages do you speak?"><b>London, how many languages do you speak?</b></p>
                    <p title="The New Travel">The New Travel</p>
                    <p>1.4M views , 3 weeks ago</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid6.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="Benj Haisch"></i>
                </div>
                <div class="info">
                    <p title="The $50 Film Camera You Should Actually Buy."><b>The $50 Film Camera You Should Actually Buy.</b></p>
                    <p title="Benj Haisch">Benj Haisch</p>
                    <p>537K views , 3 months ago</p>
                </div>
            </div>
        </div>  
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid7.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="F:Eight"></i>
                </div>
                <div class="info">
                    <p title="Ditto // Slowed to Perfection"><b>Ditto // Slowed to Perfection</b></p>
                    <p title="F:Eight">F:Eight</p>
                    <p>88K views , 3 weeks ago</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="../../assets/img/vid8.jpg" alt="">
            </div>
            <div class="description">
                <div>
                    <i class="fa fa-user-circle" title="Zach Star"></i>
                </div>
                <div class="info">
                    <p title="Random things that will (likely) surprise you"><b>Random things that will (likely) surprise you</b></p>
                    <p title="Zach Star">Zach Star</p>
                    <p>1.8M views , 3 years ago</p>
                </div>
            </div>
        </div>
    </div>
</div>