nav {
    height: 40px;   
    display: flex;
    justify-content: space-between;
    padding: 8px 30px 8px 0px;
    position: fixed;
    inset: 0 0 auto 0;
    background-color: white;
}

.menu {
    display: flex;
}

.menu i {
    font-size: 25px;
    border-radius: 20px;
    padding: 6px;
    margin-left: 17px;
    margin-right: 17px;
    cursor: pointer;
}

.menu img {
    cursor: pointer;
    padding: 10px 0px;
}

.search-bar {
    width: 50%;
}

.search-bar input {
    height: 26px;
    width: 70%;
    float: left ;
    padding: 6px 15px;
    border: 1px solid #cccccc;
    border-radius: 20px 0px 0px 20px;
}

.search-bar button {
    float: left;
    height: 100%;
    cursor: pointer;
    font-size: 100%;
}

#search {
    border: 1px solid #cccccc;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 20px 0px 16px;
    background-color: #f8f8f8;
}

#voice {
    border: #f9f9f9;
    border-radius: 20px;
    margin: 0px 5px;
    padding: 0px 15px;
    background-color: #f9f9f9;
}

.nav-right {
    display: flex;
}

.nav-right img {
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.sign-in {
    height: 100%;
    border: 1px solid #eaeaea;
    color: #3a81dd;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #def1ff;
    border-color: #def1ff;
}

.fa-user-circle-o {
    margin-right: 5px;
}

.menu i:hover, .hamburger:hover, #voice:hover, .recommendation button:hover {
    background-color: #e5e5e5;
}