<nav>
    <div class="menu">
    <i class="material-icons" id="toggle">menu</i>
        <img src="/../../assets/img/logo.png" title="Youtube Home" (click)="navigateToHome()">
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
        <button type="submit" id="search" title="Search"><i class="fa fa-search"></i></button>
        <button type="submit" id="voice" title="Search with your voice"><i class="fa fa-microphone"></i></button>
    </div>
    <div class="nav-right">
        <img src="../../assets/img/dots.png" alt="Settings" title="Settings">
        <button type="submit" class="sign-in"><i class="fa fa-user-circle-o"></i><b>Sign in</b></button>
    </div>
</nav>