<nav>
  <div class="menu">
    <i class="material-icons">menu</i>
    <img
      src="/../../assets/img/logo.png"
      title="Youtube Home"
      [routerLink]="['/home']"
      [queryParams]="{ log: loggedIn }"
    />
  </div>
  <div class="search-bar">
    <div class="search-input">
      <input
        type="text"
        placeholder="Search"
        #box
        (keydown.enter)="getValue(box.value)"
      />
    </div>
    <button type="submit" id="search" title="Search">
      <i class="fa fa-search"></i>
    </button>
    <button type="submit" id="voice" title="Search with your voice">
      <i class="fa fa-microphone"></i>
    </button>
  </div>
  <div class="nav-right">
    <img
      class="settings"
      src="https://cdn-icons-png.flaticon.com/512/2311/2311524.png"
      alt="Settings"
      title="Settings"
    />
    <button
      *ngIf="loggedIn != 1"
      type="submit"
      id="sign-in"
      [routerLink]="['/profile']"
    >
      <i class="fa fa-user-circle-o"></i><b>Sign in</b>
    </button>
    <img
      class="user-profile"
      *ngIf="loggedIn == 1"
      src="https://yt3.ggpht.com/ytc/AMLnZu8i1_hTm5hYA-iqDAOWm4qadHykTthU8_M2zX6VmLbbTsxd-As9rq-W9y7bAcmj=s88-c-k-c0x00ffffff-no-rj-mo"
      alt=""
    />
  </div>
</nav>
