body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
    border: solid 3px transparent;
}

nav {
    height: 40px;   
    display: flex;
    justify-content: space-between;
    padding: 8px 30px 8px 0px;
    position: fixed;
    inset: 0 0 auto 0;
    background-color: white;
}

.menu {
    display: flex;
}

.menu i {
    font-size: 25px;
    border-radius: 20px;
    padding: 6px;
    margin-left: 17px;
    margin-right: 17px;
    cursor: pointer;
}

// #check {
//     position: absolute;
//     margin: 3px 0px 0px 20px;
//     height: 30px;
//     width: 30px;
//     border-radius: 20px;

//     z-index: -2;
// }

.menu img {
    cursor: pointer;
    padding: 10px 0px;
}

.search-bar {
    width: 50%;
}

.search-bar input {
    height: 26px;
    width: 70%;
    float: left ;
    padding: 6px 15px;
    border: 1px solid #cccccc;
    border-radius: 20px 0px 0px 20px;
}

.search-bar button {
    float: left;
    height: 100%;
    cursor: pointer;
    font-size: 100%;
}

#search {
    border: 1px solid #cccccc;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 20px 0px 16px;
    background-color: #f8f8f8;
}

#voice {
    border: #f9f9f9;
    border-radius: 20px;
    margin: 0px 5px;
    padding: 0px 15px;
    background-color: #f9f9f9;
}

.nav-right {
    display: flex;
}

.nav-right img {
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.sign-in {
    height: 100%;
    border: 1px solid #eaeaea;
    color: #3a81dd;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #def1ff;
    border-color: #def1ff;
}

.fa-user-circle-o {
    margin-right: 5px;
}

.menu i:hover, .hamburger:hover, #voice:hover, .recommendation button:hover, .invisible div:hover {
    background-color: #e5e5e5;
}

section {
    display: flex;
    margin-right: 30px;
    margin-top: 56px;
}

.left-panel {
    width: 240px;
    padding: 5px 0px 20px 0px;
    height: 90vh;
    overflow-x: hidden;
    position: fixed;
    top: 56px;
    bottom: 0px;
    background-color: white;
}

.left-panel > div {
    padding: 15px 0px;
    border-bottom: 1px solid #e9e9e9;
}

.left-panel > div:nth-child(3) {
    padding: 0px 25px 15px 25px;
}

.left-panel > :nth-child(4) p {
    margin: 0px;
    padding-left: 20px;
}

.option {
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
}

.option img {
    height: 20px;
    padding: 10px;
}

.option p {
    padding: 15px;
}

.option:hover, #home, .invisible div {
    background-color: #f2f2f2;
}

#home:hover {
    background-color: #e6e6e6;
}

.sign-in {
    height: 100%;
    border: 1px solid #eaeaea;
    color: #3a81dd;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #def1ff;
    border-color: #def1ff;
}

.fa-user-circle-o {
    margin-right: 5px;
}

.left-panel button:hover {
    background-color: #f2f2f2;
}

.main {
    position: absolute;
    left: 250px;
    z-index: -1;
}

.filter {
    height: 36px;
    padding: 20px 0px 10px 10px;
    overflow-x: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
    background-color: white;
    overflow: hidden;
}

.filter button {
    font-size: 14px;
    margin-right: 7px;
    background-color: #f2f2f2;
    border-radius: 7px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#all {
    background-color: black;
    color: white;
}

.filter button:hover {
    background-color: #e5e5e5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
    column-gap: 12px;
    row-gap: 30px;
}

.grid-item {
    background-color: white;
    font-size: 30px;
    border-radius: 15px;
    border-color: transparent;
    transition: transform .2s;
    cursor: pointer;
}

.invisible div {
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

.invisible {
    padding: 5px;
    display: none;
}

.invisible div img {
    height: 70%;
    border-radius: 0px;
    margin-right: 5px;
    width: auto;
}

.invisible div p {
    font-size: 10px;

}

.grid-item:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .invisible {
        display: block;
    }
}

.grid-item img {
    width: 100%;
    border-radius: 15px;
}

.description {
    display: flex;
    margin: 5px 0px;
}

.description div:first-child {
    margin-left: 15px;
}

.fa-user-circle {
    font-size: 35px;
    margin-top: 5px;
}

.description img {
    height: 35px;
    width: 35px;
    border-radius: 35px;
}

.info {
    margin: 0px 15px;
}

.info p {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: #606060;
    margin: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.info > p:first-child {
    font-size: 14px;
    color: black;
    padding-bottom: 5px;
    line-height: 21px;
}

.watch {
    display: flex;
    justify-content: center;
}

.details {
    display: block;
    width: 50vw;
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    justify-content: center;
}

.details {
    iframe {
        aspect-ratio: 16 / 9;
        height: 100%;
        width: 100%;
        border: none;
    }
    .short-details {
        margin-top: 12px;
        margin-bottom: 24px;
        h1 {
            margin: 0;
            font-size: 1.1rem;
        }
        .top-row {
            display: flex;
            justify-content: space-between;
            .channel {
                display: flex;
                margin-top: 12px;
                margin-right: 12px;
                .channel-info {
                    display: flex;
                    align-items: center;
                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 20px;
                        margin-right: 12px;
                        cursor: pointer;
                    }
                    div {
                        margin-right: 24px;
                    }
                    a {
                        font-size: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-decoration: none;
                        color: black;
                    }
                    p {
                        color: #606060;
                        font-size: 0.8rem;
                        margin: 0;
                        margin-right: 4px;
                    }
                }
                .subscribe-button {
                    margin: 0px;
                    :hover{
                        background-color: #272727;
                    }
                    button {
                        display: flex;
                        padding: 0px 16px;
                        background-color: black;
                        color: white;
                        border: none;
                        height: 36px;
                        font-size: 14px;
                        line-height: 36px;
                        border-radius: 18px;
                        margin: 4px 0px;
                        cursor: pointer;
                        .fa-search {
                            margin: 0px 6px 0px -6px;
                            font-size: 18px;
                            width: 24px;
                            height: 24px;
                        }
                        .fa-microphone {
                            margin: 0px -6px 0px 6px;
                            width: 24px;
                            height: 24px;
                            font-size: 18px;
                        }
                    }
                }
            }
            .buttons {
                display: flex;
                float: right;
                margin-top: 12px;
                right: 0;
                justify-content: flex-end;
                div {
                    display: flex;
                }
                #like {
                    border-right: 1px solid #e2e2e2;
                    border-radius: 18px 0px 0px 18px;
                    img {
                        height: 20px;
                        width: 20px;
                        margin: 0px 6px 0px -6px;
                    }
                }
                #dislike {
                    border-radius: 0px 18px 18px 0px;
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
                #dots {
                    margin-left: 8px;
                    padding: 0px;
                    width: 36px;
                    justify-content: center;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
                .share button img {
                    width: 20px;
                    height: 20px;
                    margin: 0px 6px 0px -6px;
                }
                button {
                    display: flex;
                    padding: 0px 16px;
                    border: none;
                    height: 36px;
                    font-size: 14px;
                    border-radius: 18px;
                    line-height: 36px;
                    margin: 4px 0px;
                    align-items: center;
                    cursor: pointer;
                    i {
                        font-size: 20px;
                        width: 24px;
                        height: 24px;
                    }
                }
                button:hover {
                    background-color: #e5e5e5;
                }
            }
        }
        .bottom-row {
            margin-top: 12px;
            .description {
                display: block;
                padding: 12px;
                font-size: 0.9rem;
                line-height: 20px;
                border-radius: 20px;
                background-color: #f2f2f2;
                div {
                    margin-left: 0;
                }
                cursor: pointer;
            }:hover {
                background-color: #e5e5e5;
            }
        }
    }
    .comment-section {
        .header {
            .sort {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                button {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    margin-left: 20px;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    i {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }
            .add-comment {
                display: flex;
                margin-right: 16px;
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 16px;
                }
                input {
                    width: 100%;
                    height: 25px;
                    color: #606060;
                    font-size: 13px;
                    border: none;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
        margin-bottom: 20px;
    }
} 

.share, #clip {
    margin-left: 8px;
    .fa {
        margin: 0px 6px 0px -6px;
    }
}

.side-recommendation {
    width: 33vw;
    padding: 24px 24px 0px 0px;
    .items {
        display: flex;
        margin-bottom: 8px;
        cursor: pointer;
        .thumbnail {
            img {
                height: 94px;
                margin-right: 8px;
                border-radius: 15px;
            }
        }
        .detail {
            padding-right: 24px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #606060;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            line-height: 20px;
            h3 {
                font-size: 14px;
                color: black;
                margin: 0px 0px 4px 0px;
            }
            p {
                margin: 0px
            }
        }
    }
}