<div class="details">
  <div>
    <iframe
      [src]="content?.safeEmbed"
      title="YouTube video player"
      allow="autoplay"
    ></iframe>
  </div>
  <div class="short-details">
    <div>
      <h1>{{ content?.title }}</h1>
    </div>
    <div class="top-row">
      <div class="channel">
        <div class="channel-info">
          <img src="{{ content?.channelProfile }}" />
          <div>
            <a href="" title="{{ content?.channelName }}"
              ><strong>{{ content?.channelName }}</strong>
            </a>
            <p>{{ content?.channelSubCount | numberFormat }} subscribers</p>
          </div>
        </div>
        <div class="subscribe" *ngIf="sub === false">
          <button (click)="myClickHandler($event)">
            <div><span>Subscribe</span></div>
          </button>
        </div>
        <div class="subscribe" id="logged" *ngIf="sub === true">
          <button>
            <div><span>Subscribed</span></div>
          </button>
        </div>
      </div>
      <div class="buttons">
        <div>
          <button id="like" title="I like this">
            <div>
              <img
                src="https://cdn-icons-png.flaticon.com/512/5569/5569576.png"
              />
            </div>
            <div>
              <span>{{ content?.likeCount | numberFormat }}</span>
            </div>
          </button>
          <button id="dislike" title="I dislike this">
            <div>
              <img
                src="https://cdn-icons-png.flaticon.com/512/4466/4466315.png"
                alt=""
              />
            </div>
          </button>
        </div>
        <div class="share" title="Share">
          <button>
            <div>
              <img
                src="https://img.icons8.com/external-anggara-basic-outline-anggara-putra/24/1A1A1A/external-share-social-media-interface-anggara-basic-outline-anggara-putra-3.png"
              />
            </div>
            <div><span>Share</span></div>
          </button>
        </div>
        <!-- <div>
                    <button id="clip">
                        <div><i class="fa fa-cut"></i></div>
                        <div><span>Clip</span></div>
                    </button>
                </div> -->
        <div>
          <button id="dots">
            <div>
              <img src="https://img.icons8.com/ios-glyphs/30/null/more.png" />
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="bottom-row">
      <div class="description">
        <div>
          <b
            ><span>{{ content?.views | numberFormat }} views&ensp;</span
            ><span>{{ content?.date | datePipe }} ago</span></b
          >
        </div>
        <div [ngClass]="{ 'line-clamp': !showMore }">
          {{ content?.description }}
          <p (click)="showMore = false"><b>Show less</b></p>
        </div>
        <div *ngIf="!showMore" (click)="showMore = true">
          &nbsp;<b>Show more</b>
        </div>
      </div>
    </div>
  </div>
  <app-comment></app-comment>
</div>
