<app-nav-bar></app-nav-bar>
<section>
  <app-side-bar [shorts]="shorts"></app-side-bar>
  <div class="shorts">
    <div>
      <div>
        <iframe
          src="https://www.youtube.com/embed/Bg9QraXc0hY"
          title="Margot Robbie Answers the Web's Most Searched Questions"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="actions">
        <div>
          <button><i class="material-icons">thumb_up</i></button>
          <p>150K</p>
        </div>
        <div>
          <button><i class="material-icons">thumb_down</i></button>
          <p>Dislike</p>
        </div>
        <div>
          <button><i class="material-icons">comment</i></button>
          <p>260</p>
        </div>
        <div>
          <button><i class="fa fa-share"></i></button>
          <p>Share</p>
        </div>
        <div>
          <button><i class="material-icons">more_horiz</i></button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <iframe
          src="https://www.youtube.com/embed/rIHp_MrcWg8"
          title="[mbti]intj가 말하는 개인적인 이상형"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="actions">
        <div>
          <button><i class="material-icons">thumb_up</i></button>
          <p>1.1K</p>
        </div>
        <div>
          <button><i class="material-icons">thumb_down</i></button>
          <p>Dislike</p>
        </div>
        <div>
          <button><i class="material-icons">comment</i></button>
          <p>89</p>
        </div>
        <div>
          <button><i class="fa fa-share"></i></button>
          <p>Share</p>
        </div>
        <div>
          <button><i class="material-icons">more_horiz</i></button>
        </div>
      </div>
    </div>
    <div>
      <div>
        <iframe
          src="https://www.youtube.com/embed/mLxLti9FFfw"
          title="This photoshoot made it on a billboard in Times Square.. #shorts"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="actions">
        <div>
          <button><i class="material-icons">thumb_up</i></button>
          <p>4.6M</p>
        </div>
        <div>
          <button><i class="material-icons">thumb_down</i></button>
          <p>Dislike</p>
        </div>
        <div>
          <button><i class="material-icons">comment</i></button>
          <p>17K</p>
        </div>
        <div>
          <button><i class="fa fa-share"></i></button>
          <p>Share</p>
        </div>
        <div>
          <button><i class="material-icons">more_horiz</i></button>
        </div>
      </div>
    </div>
  </div>
</section>
