<div class="grid-item">
  <div class="scale">
    <div class="thumbnail">
      <img
        [src]="imgSrc"
        (mouseover)="imgSrc = itemData.gif"
        (mouseout)="imgSrc = itemData.thumbnail"
      />
      <a class="duration-time">{{ itemData.duration }}</a>
    </div>
    <div class="description">
      <div>
        <img
          src="{{ itemData.channelProfile }}"
          alt="{{ itemData.channelName }}"
        />
      </div>
      <div class="info">
        <p title="{{ itemData.title }}">
          <b>{{ itemData?.title }}</b>
        </p>
        <p class="channel-name" title="{{ itemData?.channelName }}">
          {{ itemData.channelName }}
        </p>
        <p>
          {{ itemData?.views | numberFormat }} views ·
          {{ itemData?.date | datePipe }} ago
        </p>
      </div>
      <div>
        <svg viewBox="0 0 24 24">
          <path
            d="M12,16.5c0.83,0,1.5,0.67,1.5,1.5s-0.67,1.5-1.5,1.5s-1.5-0.67-1.5-1.5S11.17,16.5,12,16.5z M10.5,12 c0,0.83,0.67,1.5,1.5,1.5s1.5-0.67,1.5-1.5s-0.67-1.5-1.5-1.5S10.5,11.17,10.5,12z M10.5,6c0,0.83,0.67,1.5,1.5,1.5 s1.5-0.67,1.5-1.5S12.83,4.5,12,4.5S10.5,5.17,10.5,6z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="invisible">
      <div>
        <svg viewBox="0 0 24 24">
          <path
            d="M14.97,16.95L10,13.87V7h2v5.76l4.03,2.49L14.97,16.95z M12,3c-4.96,0-9,4.04-9,9s4.04,9,9,9s9-4.04,9-9S16.96,3,12,3 M12,2c5.52,0,10,4.48,10,10s-4.48,10-10,10S2,17.52,2,12S6.48,2,12,2L12,2z"
          ></path>
        </svg>
        <p><b>Watch later</b></p>
      </div>
      <div>
        <svg viewBox="0 0 24 24">
          <path
            d="M21,16h-7v-1h7V16z M21,11H9v1h12V11z M21,7H3v1h18V7z M10,15l-7-4v8L10,15z"
          ></path>
        </svg>
        <p><b>Add to queue</b></p>
      </div>
    </div>
  </div>
</div>
